<!-- <div fxLayout="row">
    <app-nav-bar fxFlex="100"  fxLayout="row"></app-nav-bar>
</div> -->
<div class="container" fxLayout="column">

    <div class="hobbies-odd" fxLayout="column">
        <div class="heading">
            <h1 fxFlex="100">Programming:</h1>
        </div>
        <div fxLayout="row">
            <div fxFlex="50" fxLayoutAlign="center" class="hobbie-content" fxLayout="column">
                <p>Programming is a fascinating hobby that allows you to create, problem-solve, and bring your ideas to life through code. Whether you're developing software applications, working on web development, or diving into data analysis, programming offers endless opportunities for learning and creativity. It's a skill that's in high demand in today's tech-driven world, and it can lead to exciting career prospects.</p>
            </div>
            <div fxFlex="50" fxLayoutAlign="center" class="hobbies-image" >
                <img src="../assets/coding.png" >
            </div>
           
        </div>
    </div>

    <div class="hobbies-even" fxLayout="column">
        <div class="heading">
            <h1 fxFlex="100">Learning:</h1>
        </div>
        <div fxLayout="row">
            <div  fxFlex="50" fxLayoutAlign="center" class="hobbies-image">
                <img src="../assets/learningnewthings.png" width="300px" height="300px">
            </div>
            <div  fxFlex="50" fxLayoutAlign="center" class="hobbie-content" fxLayout="column">
                <p>Having a curiosity-driven passion for learning is a fantastic trait. This hobby keeps your mind active and helps you stay up-to-date with the latest developments in various fields. You can explore new languages, delve into different cultures, or expand your knowledge about scientific advancements, historical events, or any other topic that piques your interest.</p>
            </div>
        </div>
     
    </div>

    <div class="hobbies-odd" fxLayout="column">
        <div class="heading">
            <h1 fxFlex="100">Volleyball:</h1>
        </div>
        <div fxLayout="row">
            <div fxFlex="50" fxLayoutAlign="center" class="hobbie-content" fxLayout="column">
                <p>Volleyball is a dynamic and engaging sport that combines physical activity with teamwork and strategy. It's a great way to stay fit, improve coordination, and have fun with friends. Playing volleyball can also teach you valuable skills such as communication, cooperation, and sportsmanship, which can be applied in various aspects of life.</p>
            </div>
            <div fxFlex="50" fxLayoutAlign="center" class="hobbies-image" >
                <img src="../assets/volleyball.png"  width="400px" height="300px">
            </div>
           
        </div>
    </div>

    <div class="hobbies-even" fxLayout="column">
        <div class="heading">
            <h1 fxFlex="100">Listening Music:</h1>
        </div>
        <div fxLayout="row">
            <div  fxFlex="50" fxLayoutAlign="center" class="hobbies-image">
                <img src="../assets/music.png" width="300px" height="300px">
            </div>
            <div  fxFlex="50" fxLayoutAlign="center" class="hobbie-content" fxLayout="column">
                <p>Music is a universal language that can evoke emotions, inspire creativity, and provide relaxation. Whether you enjoy exploring new genres, analyzing the lyrics, or simply letting the melodies wash over you, listening to music is a wonderful way to unwind and enhance your mood.</p>
            </div>
        </div>
     
    </div>
    <div class="hobbies-odd" fxLayout="column">
        <div class="heading">
            <h1 fxFlex="100">Gaming:</h1>
        </div>
        <div fxLayout="row">
            <div fxFlex="50" fxLayoutAlign="center" class="hobbie-content" fxLayout="column">
                <p>Gaming offers a unique blend of entertainment and cognitive challenges. It can be a great way to unwind and escape into virtual worlds, solve puzzles, or engage in competitive gameplay. Additionally, gaming can improve your strategic thinking, reflexes, and problem-solving skills, making it a valuable pastime.</p>
            </div>
            <div fxFlex="50" fxLayoutAlign="center" class="hobbies-image" >
                <img src="../assets/gaming.png" width="250px">
            </div>
           
        </div>
    </div>
</div>

