
<div class="container">
    <div class="form-container">
        <form [formGroup]="changePasswordForm">
            <h1 fxLayoutAlign="center">Change password</h1>
            <div fxLayout="column" fxLayoutGap="0">
                <mat-form-field appearance="outline">
                    <mat-label>Change password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="changePasswordForm?.get('password')?.hasError('required')">
                        Required form field
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm?.get('password')?.hasError('minLength')">
                       password should contain minimum 5 character
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm?.get('password')?.hasError('maxLength')">
                        password should contain maximum 10 character
                     </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword" (input)="passwordCompare()">
                    <mat-error *ngIf="changePasswordForm?.get('confirmPassword')?.hasError('required')">
                        Required form field
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm?.get('confirmPassword')?.hasError('passwordMismatch')">
                        change password and confirm password must be same
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="center">
                <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </div>
</div>