<div class="scroll-container" appCustomHorizontalScrollbar>
    <div class="scroll-content">
      <!-- Your content goes here -->
      <p>wcvferverververv wcvferverververvwcvferverververvwcvferverververv wcvferverververv wcvferverververv wcvferverververv wcvferverververv wcvferverververv wcvferverververv wcvferverververvwcvferverververv wcvferverververv wcvferverververv wcvferverververv wcvferverververv wcvferverververv wcvferverververv</p>
    </div>
    <div class="scroll-progress"></div>
    <div style="height: 5px; width: 80%"></div>
  </div>
  