<div class="container">
    <div fxFlex="50%"></div>
    <div class="form-container" fxFlex="50%">
        <h1 fxLayoutAlign="center">Having trouble Signing In?</h1>
        <form [formGroup]="forgotPasswordForm">
            <div fxLayout="column" fxLayoutGap="0">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error *ngIf="forgotPasswordForm?.get('email')?.hasError('required')">
                        {{message.EMAIL_IS_REQUIRED}}
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm?.get('email')?.hasError('email')">
                        {{message.INVALID_EMAIL}}
                    </mat-error>
                </mat-form-field>
                
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
                <button mat-raised-button color="primary" (click)="sendMail()">Submit</button>
            </div>
        </form>
    </div>
</div>