<div class="container" fxLayout="row">
    <form>
        <div fxLayout="row" fxLayoutGap="50px">
            <div fxFlex="50%"  fxLayout="column">
                <mat-label>Name</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div fxFlex="50%"  fxLayout="column">
                <mat-label>Movie name</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="text">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="50px">
            <div fxFlex="100%" fxLayout="column">
                <mat-label>Show time</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div  fxFlex="50%"></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <div>
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </div>
    </form>
</div>