<div class="banner-container" fxLayout="column">
    <div class="banner-bg" fxLayout="column">
        <img src="./assets/garden_bg.jpg" class="banner-image" fxFlex="100%">
        <div class="banner-conetent">
            <div class="header-1">Discover a World of Green</div>
            <div class="header-2">Your One-Stop Shop</div>
            <div class="header-3">learn how  to keep your plants thiriving, Discover plants loved by our customers, Be the  first to own</div>
        </div>
        <div class="banner-button">
            <button class="btn" mat-stroked-button> SHOP NOW</button>
        </div>
    </div>
</div>

