<div class="container" >
    <div class=" banner" >
        <img class="banner_image" src="./assets/garden-contact-banner.png">
        <h1>Contact Us</h1>
    </div>
    <div fxLayoutAlign="center">
        <div class="inner-container" fxFlex="100%" fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column" fxFlex.lt-sm="50%" fxLayoutAlign.lt-md="center" >
            <div class="animatecard card" fxFlex="25%" fxLayout="row" fxLayoutAlign="center center">
                <div class="hover-hide" >
                    <div fxLayoutAlign="center center">
                        <p class="number" fxHide.lt-md>1</p>
                        <p class="header">Browse</p>
                    </div>
                </div>
                <div class="hover-visible">
                    <div class="background-integer">1</div>
                    <div class="hover-content" fxLayoutAlign="center center" fxLayout="column">
                        <h2 class="hover-head">Browse</h2>
                        <p class="hover-text">Explore plant options on the website.</p>
                    </div>
                </div>
            </div>
            <div class="animatecard card" fxFlex="25%" fxLayout="row" fxLayoutAlign="center center">
                    <div class="hover-hide" >
                        <div fxLayout="row " fxLayoutAlign="center center">
                            <p class="number" fxHide.lt-md>2</p>
                            <p class="header">Add</p>
                        </div>
                    </div>
                    <div class="hover-visible" >
                        <div class="background-integer">2</div>
                        <div class="hover-content" fxLayoutAlign="center center" fxLayout="column">
                            <h2 class="hover-head">Add</h2>
                            <p class="hover-text">Select plants and add them to your cart.</p>
                        </div>
                    </div>
                
            </div>
            <div class="animatecard card" fxFlex="25%" fxLayout="row" fxLayoutAlign="center center">
                <div class="hover-hide">
                    <div fxLayout="row " fxLayoutAlign="center center">
                        <p class="number"  fxHide.lt-md>3</p>
                        <p class="header">Checkout</p>
                    </div>
                </div>
                <div class="hover-visible" >
                    <div class="background-integer">3</div>
                    <div class="hover-content" fxLayoutAlign="center center" fxLayout="column">
                        <h2 class="hover-head">Checkout</h2>
                        <p class="hover-text">Provide shipping and payment details.</p>
                    </div>
                </div>
            </div>
            <div class="animatecard card" fxFlex="25%" fxLayout="row" fxLayoutAlign="center center">
                <div class="hover-hide" >
                    <div fxLayout="row " fxLayoutAlign="center center">
                        <p class="number"  fxHide.lt-md>4</p>
                        <p class="header">Confirm</p>
                    </div>
                </div>
                <div class="hover-visible"  >
                    <div class="background-integer" >4</div>
                    <div class="hover-content" fxLayoutAlign="center center" fxLayout="column">
                        <h2 class="hover-head">Confirm</h2>
                        <p class="hover-text">Review and confirm your order.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

