<div class="cards" fxLayout="row" fxLayout.lt-md="row wrap" fxLayout fxLayoutAlign="center" fxFlex="100%" fxLayoutGap="5%" fxLayoutGap.lt-md="3%">
    <div class="card" fxFlex="33.33%">
        <div class="icon" fxFlex="20%" fxLayoutAlign="center center">
            <img fxFlex="60%" src="./assets/airplane.png" alt="">
        </div>
        <div class="contnet" fxLayout="column" fxLayoutGap="5%" fxLayoutGap.lt-md="3%" fxFlex="80%" fxLayoutAlign="center">
                <div class="header">
                    Free home delivery
                </div>
                <div class="text">
                    provide home delivery for the all products over $100
                </div>
        </div>
    </div>
    <div class="card" fxFlex="33.33%">
        <hr fxHide.lt-md>
        <div class="icon" fxFlex="20%" fxLayoutAlign="center center">
            <img fxFlex="60%" src="./assets/quality.png" alt="">
        </div>
        <div class="contnet" fxLayout="column" fxLayoutGap="5%" fxLayoutGap.lt-md="3%" fxFlex="80%" fxLayoutAlign="center ">
            <div class="header">
                Quality Products
            </div>
            <div class="text">
                we ensure the product quality that is our main goal
            </div>
        </div>
    </div>
    <div class="card" fxFlex="33.33%">
        <hr fxHide.lt-md>
        <div class="icon" fxFlex="20%" fxLayoutAlign="center center">
            <img fxFlex="60%" src="./assets/return.png" alt="">
        </div>
        <div class="contnet" fxLayout="column" fxLayoutGap="5%" fxLayoutGap.lt-md="3%" fxFlex="80%" fxLayoutAlign="center">
            <div class="header">
                3 Days Return
            </div>
            <div class="text">
                product will take return in 3 days
            </div>
        </div>
    </div>
</div>
