.container{
    padding: 2%;
    /* background-color: #b39f9f; */
}
.inside-container{
    /* background-color: blue; */
}
.inside-container div{
    /* background-color: aliceblue; */
}
.images{
    /* height: 100%; */
    /* background-color: #fff; */
}
.images img{
    width:100%;
    height: 100%;
}