<div class="container" fxLayout="column">
    <div class="choose_us" fxLayout="row" fxFlex="100%" fxLayout.lt-md="column">
        <div class="content" fxFlex="70%">
            <div class="content_1" >
                <h1 class="heading"><span class="heading_highlight">Why</span> Choose Us?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio id illo earum hic voluptate quis sit laborum quas dicta, eaque ex fuga commodi? Laboriosam, fuga placeat odio quibusdam consectetur officiis?</p>
            </div>
            <div fxLayout="row" class="content_2" fxLayoutGap="3%" fxLayout.lt-md="column" fxLayoutGap.lt-md="3%">
                <div fxFlex="50%" fxLayout="column" fxLayoutGap.lt-md="3%" >
                    <div fxLayout="row" fxLayoutGap="5%" class="table_des">
                        <button mat-fab><span class="material-symbols-outlined">alarm</span></button>
                        <div class="table_content">
                            <h3 >Expert Farmer</h3>
                            <p >Lorem, ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <hr class="border" fxHide.lt-md>
                    <div fxLayout="row" fxLayoutGap="5%" class="table_des">
                        <button mat-fab><span class="material-symbols-outlined">eco</span></button>
                        <div class="table_content">
                            <h3>Clean Working</h3>
                            <p>Lorem, ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="50%"  fxLayout="column" fxLayoutGap.lt-md="3%" >
                    <div fxLayout="row" fxLayoutGap="5%" class="table_des">
                        <button mat-fab><span class="material-symbols-outlined">home</span></button>
                        <div class="table_content">
                            <h3>Home Gardening</h3>
                            <p>Lorem, ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <hr class="border" fxHide.lt-md>

                    <div fxLayout="row" fxLayoutGap="5%" class="table_des">
                        <button mat-fab><span class="material-symbols-outlined">humidity_low</span></button>
                        <div class="table_content">
                            <h3>Proper Take Care</h3>
                            <p>Lorem, ipsum dolor sit amet, consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image" fxFlex="30%" fxLayoutAlign="center" fxHide.lt-md>
            <img src="./assets/gardening_image1.png">
        </div>
    </div>
    <div class="work_showcase" fxLayout="column" fxFlex="100%" >
        <div class="headers" fxLayout="column" fxLayoutAlign="center center">
            <h5>OUR WORK SHOWCASE</h5>
            <h1>Take a look at some of our recently completed projects.</h1>
        </div>
        <div class="work_images"  fxFlex="100%" fxLayoutGap="20px" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center">

            <div fxFlex="36%" fxFlex.lt-md="33.3%" fxLayoutGap="20px" class="images imageDiv" fxLayout="row" fxLayout.lt-md="column" fxLayout.lt-sm="row">
                <img  fxFlex="48%" class="insideimage" src="./assets/work_image_1.jpg">
                <img  fxFlex="48%" class="insideimage" src="./assets/work_image_2.jpg">
            </div>
            <div fxFlex="18%" fxFlex.lt-md="33.3%" class="images" fxLayoutAlign="center" fxLayout="row" fxLayout.lt-md="column" fxLayout.lt-sm="row">
                <img  fxFlex="100%" fxFlex.lt-md="50%" class="insideimage" src="./assets/work_image_3.jpg" alt="">
            </div>
            <div fxFlex="36%" fxFlex.lt-md="33.3%" fxLayoutGap="20px" class="images imageDiv" fxLayout="row" fxLayout.lt-md="column" fxLayout.lt-sm="row" >
                <img  fxFlex="48%" class="insideimage" src="./assets/work_image_1.jpg">
                <img  fxFlex="48%" class="insideimage" src="./assets/work_image_2.jpg">
            </div>
        </div>
    </div>
</div>

<!-- <div class="work_images"  fxFlex="100%" fxLayout="row" fxLayoutAlign="center">
    <div class="images" *ngFor="let item of workImages" fxFlex="20%" fxLayoutAlign="center">
        <img [src]="item.link" fxFlex="90%"  >
    </div>
</div> -->


<div class="main-div" fxLayout="row" fxLayoutAlign="center center">
    <div class="sub-div"></div>
    <div class="sub-div"></div>
    <div class="sub-div"></div>
    <div class="sub-div"></div>
    <div class="sub-div"></div>

</div>