<div class="container" fxLayout="column">
    <!-- <app-nav-bar fxFlex="100"></app-nav-bar> -->
    <div class="index-container">
        <div class="index" fxLayout="row">
            <div fxFlex="50" fxFlexAlign="center">
                <h1>Hai I am Rithvick </h1>
                    <br><span>Software Developer </span> <span>@Centizen</span>
            </div>
            <div  fxFlex="50" class="developerImage">
                <img src="../assets/developer.png" width="100px">
            </div>
        </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
</div>